<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.druiddemo.dao.pgsql.UserPgsqlMapper">
    <resultMap id="userMap" type="com.example.druiddemo.pojo.UserPgsqlBean">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="salary" property="salary"/>
        <result column="add_time" property="addTime"/>
        <result column="proportional" property="proportional"/>
    </resultMap>
    <select id="getUser" resultMap="userMap">
      SELECT * FROM test."public"."user"
    </select>
</mapper>